# some executable file
join_lis
join_vtk
sort_lis
*.pyc
wget
pigz
zsh
unpigz
htop
rsync_from_desktop
emacs
emacsclient
.DS_Store
anim
subl
scpresult
autoconf
git*
cmake
ffmpeg
nasm
yasm
source-highlight
tohevc
x264
x265
clion
chuo
#end